<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ counterLeft }}</strong> {{ counterLeftLabel }}</span
  >
  <!-- Remove this if you don't implement routing -->
  <div class="filters">
    <li>
      <button
        [class.selected]="filterSelected === 'all'"
        (click)="onFilter('all')"
      >
        All
      </button>
    </li>
    <li>
      <button
        [class.selected]="filterSelected === 'pending'"
        (click)="onFilter('pending')"
      >
        Pending
      </button>
    </li>
    <li>
      <button
        [class.selected]="filterSelected === 'completed'"
        (click)="onFilter('completed')"
      >
        Completed
      </button>
    </li>
  </div>
  <!-- Hidden if no completed items are left ↓ -->
  <button
    *ngIf="counterLeft < counter"
    class="clear-completed"
    (click)="cleanCompletedTasks()"
  >
    Clear completed
  </button>
</footer>
