<li
  [ngClass]="{
    completed: task.completed,
    editing: taskMode === 'edit'
  }"
>
  <div [class.hidden]="taskMode === 'edit'" class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="task.completed"
      (change)="onUpdateStatus(task)"
    />
    <label (dblclick)="editMode()">{{ task.title }}</label>
    <button class="destroy" (click)="onDelete(task.id)"></button>
  </div>
  <input
    #inputUpdate
    type="text"
    style="width: 100%; padding: 10px 0"
    class="edit"
    [(ngModel)]="newTitle"
    (keyup.enter)="onUpdateTitle(task, newTitle)"
    (keyup.escape)="viewMode()"
  />
</li>
